header {
    background-color: pink;
    font-size: 40px;
    text-align: center;
    margin: 8px;
    font-family: 'Luckiest Guy', cursive;
}

#city {
    border-radius: 6px;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 16px;
    border-color: palevioletred;
}


h1 {
    font-size: 30px;
    font-family: 'Luckiest Guy', cursive;
    text-align: left;
    margin-left: 46px;
    margin: 15px;
}

h2 {
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 10px
}

.submitbtn {
    background-color: palevioletred;
    font-size: 22px;
    color: white;
    position: fixed;
    margin: 15px;
    margin-left: 16px;
    border-radius: 10px;
    width: 201px;
    height: 35px;
    border: none;
}

p {
    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.container{
    box-sizing: border-box 1px solid black;
    font-size: 25px;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
}